

body {
    background: #99c59fda;
    display: flex;
    justify-content: center;
}

/* Header*/
#gg {
     background-color: aliceblue;
        margin: 0;
    
}

header title{
    
}

img {
    width: 700px;
    height: 400px;
    position: center;
}